.card{
    border: 2px solid rgba(238, 211, 230, 0.781);
    width: 22%;
    border-radius: 6px;
    padding: 2px;
    margin: 8px;
    background-color: rgba(0, 100, 0, 0.741);
}
img{
    width: 100%;
}

.txt{
    text-align: center;
    color:rgba(251, 251, 251, 0.781);
    text-decoration: none;
}